.active {
    display: inline-block;
}
.disable {
    display: none;
}
@keyframes remove-opacity {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

.display-image {
    opacity: 1;
    animation-name: remove-opacity;
    animation-duration: 2s;
}

.activate-image {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
}
.not-activate-image {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1px #ffffff;
    background-color: transparent;
}
